*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    margin-left: 12rem;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,180px));
    gap: 40px;
    padding: 10px;
}

main h2{
    font-size: 20px;
}

.product-card{
    border: 1px solid  #bec9be;
    padding: 10px;
}

img{
    width: 100%;
}

@media (max-width:428px){
    main h2{
        font-size: 15px;
    }
    main{
        margin-left: 10rem;
        grid-template-columns: repeat(auto-fit,minmax(150px,170px));
    }
}