*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    margin-top: 30px;
    margin-left: 12rem;
    padding: 10px;
}

.buttons-card{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,120px));
    gap: 10px;
}

button{
    padding: 10px 20px;
    background-color: white;
    border: 1px solid  #bec9be;
    cursor: pointer;
    transition: 0.3s linear;
}

button:hover{
    background-color: black;
    color:  white;
}

@media (max-width:428px){
 section{
    margin-left: 10rem;
 }      
}