*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.category-card{
    margin-top: 5rem;
}

aside h2{
    margin-bottom: 5px;
    color: grey;
}

aside{
    border: 1px solid #bec9be;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0; /* Ensure it stays on the left side */
    width: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding-top: 20px; /* Add some padding to the top */
}

.category-card,
.price-card,
.color-card{
    color: grey;
    font-size: 14px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 100px;
}

label{
    margin-left: 5px;
}

@media (max-width: 639px) {
    aside {
        width: 120px; /* Adjust sidebar width on mobile */
        overflow-y: scroll;
    }

    nav {
        margin-left: 120px; /* Add margin to prevent overlap on mobile */
    }
}
